# Remove the line below if you want to inherit .editorconfig settings from higher directories
root = true

# C# files
[*.cs]
file_header_template = Copyright (c) vlOd\nLicensed under the GNU Lesser General Public License, version 3.0